.body{
    background-color: black;
    overflow: hidden;
}
.section {
    background-color: green;
    height: 100vh;
}
.container, .clock, .box, .clock > div, .gameover, .container div, .section { display: flex; }
.box, .button, .clock, .gameover { position: fixed; }
.section {
    background-color: green;
    height: 100vh;
    justify-content: center;
}
.container{
    position: relative;
    width: 300px;
    height: 1200px;
    background-color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 5s all;
    transform: translateY(-300px);
}
.container > div {
    justify-content: center;
}
.container > div > div{
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100px;
    height: 600px;
}
.container img {
    transform: rotate(180deg);
}
.center > div{
    background-color: white;
    width: 20px;
    height: 70px;
}
.center > img{
    position: absolute;
    top: 0;
    left: 10;
}
.box{
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    transform: translateY(500px);
}
.play {
    background-color: #fff;
    color: red;
    border: 3px solid red;
    border-radius: 5%;
    transition: 500ms all;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.4rem;
    transform: translateY(-250px);
}
.play:hover{
    background-color: red;
    color: white;
}
.clock {
    transform: translateX(10px);
    z-index: 9999;
}
.clock > div{
    font-size: 1.5rem;
    font-family: sans-serif;
    width: 35px;
    height: 50px;
    color: white;
    align-items: center;
}
.clock > div:nth-child(3) { width: 27px; }
.gameover{
    color: red;
    z-index: 99999;
    transform: translate(540px, 250px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: bold;
    font-size: 3rem;
}